<a href="https://colab.research.google.com/github/hzhoujoy/ST554_HomeWork5/blob/main/HomeWork5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Home Work 5
Author: Huiping Zhou   
Date: 2/27/2026

In this home work, we will explore issues around big data including bias in data and models along
with practicing SQL skills.

# Part I- Concepts

## Question 1
We discussed the "Five V's of Big Data". Give an example of a place where you've encountered big data or a topic you are interested in where big data would arise. Specifically address the five V's for the example and whether/how they apply to your example.

The Five V's of big data are **volume, variety, velocity, veracity, and value**. I like to listen to music, podcasts, and audiobooks using Spotify. Spotify relies on massive amounts of data to recommend songs, create personalized “Liked Songs” playlists, and analyze listening behavior.
- Volume
With over 751 million active users, Spotify processes an enormous amount of data every day. This includes song streams, podcast plays, and user interactions (such as likes, skips, and ratings). These large-scale data sets represent the volume characteristic of big data.
- Variety
Spotify handles many different types of data from various sources—music files, songs, lyrics, podcasts, videos, and even user-generated data. These include both structured and unstructured formats, which reflect the variety aspect of big data.
- Velocity
New songs, albums, and podcasts are constantly being created and uploaded to Spotify. User interactions also occur in real time. This rapid generation and processing of data represent velocity.
- Veracity
Veracity refers to the quality and accuracy of the data being analyzed. Spotify must deal with data inconsistencies, missing metadata, mislabeled content, and noise, all of which can affect recommendations and analytics.
- Value
Spotify collects a huge amount of information, but the key is turning that data into value. For example, by improving user recommendations, enhancing search, or helping creators understand their audience. Since analyzing data requires time and cost, extracting meaningful value is essential.

## Question 2
Read about the database we'll use below (part IV). Give an example for each letter in the CRUD acronym in the context of this database.
The acronmy CRUD is this four functions: create data, read data,updata data, delete data.
We checked the database and found the schema of the table **CollegePlaying** are
```
CREATE TABLE CollegePlaying (playerID TEXT, schoolID TEXT, yearID INTEGER)
```
C-Create: We will add a new player who played for NCSU in 2026 into the table CollegePlaying
```
INSERT INTO CollegePlaying (playerID, schoolID, yearID)
VALUES ('12345', 'ncsu', 2026);
```
R-Read: we will retrive the record for playerID='12345'
```
SELECT *
FROM CollegePlaying
WHERE playerID = '12345';
```
U-Update: we will update the school for playerID=12345
```
UPDATE CollegePlaying
SET schoolID = 'rice'
WHERE playerID = '12345'
AND yearID = 2026;
```
D-Delete: we'll remove the row that we inserted
```
DELETE FROM CollegePlaying
WHERE playerID = 12345
AND schoolID = 'rice';
```

## Question 3
What is the purpose of the [HAVING clause](https://www.sqlservertutorial.net/sql-server-basics/sql-server-having/) when writing SQL code?

The the `HAVING` clause is used to filter the groups based on a list of conditions after they have beed grouped using the `GROUP BY` clause. The general `HAVING` clause syntax is:
```
SELECT
    select_list
FROM
    table_name
GROUP BY
    group_list
HAVING
    conditions;
```

# Part II - Simulation of a Sampling Distribution

## Question 4
We will use simulation to invertigate the sampling distribution of

# Part IV- Querying a database

## Question 8
Connect to the database (probably by uploading to Colab) and then look at all of the tables in the database (use read_sql() from pandas to have this returned as a data frame).

Using pandas we can check out the tables returned as a data frame

In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect("lahman_1871-2022.sqlite")
# return the information of tables
pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';", con)

,type,name,tbl_name,rootpage,sql
0,table,AllstarFull,AllstarFull,2,"CREATE TABLE AllstarFull (\nplayerID TEXT,\nye..."
1,table,Appearances,Appearances,3,"CREATE TABLE Appearances (\nyearID INTEGER,\nt..."
2,table,AwardsManagers,AwardsManagers,4,"CREATE TABLE AwardsManagers (\nplayerID TEXT,\..."
3,table,AwardsPlayers,AwardsPlayers,5,"CREATE TABLE AwardsPlayers (\nplayerID TEXT,\n..."
4,table,AwardsShareManagers,AwardsShareManagers,6,CREATE TABLE AwardsShareManagers (\nawardID TE...
5,table,AwardsSharePlayers,AwardsSharePlayers,7,CREATE TABLE AwardsSharePlayers (\nawardID TEX...
6,table,Batting,Batting,8,"CREATE TABLE Batting (\nplayerID TEXT,\nyearID..."
7,table,BattingPost,BattingPost,9,"CREATE TABLE BattingPost (\nyearID INTEGER,\nr..."
8,table,CollegePlaying,CollegePlaying,10,"CREATE TABLE CollegePlaying (\nplayerID TEXT,\..."
9,table,Fielding,Fielding,11,"CREATE TABLE Fielding (\nplayerID TEXT,\nyearI..."
10,table,FieldingOF,FieldingOF,12,"CREATE TABLE FieldingOF (\nplayerID TEXT,\nyea..."
11,table,FieldingOFsplit,FieldingOFsplit,13,"CREATE TABLE FieldingOFsplit (\nplayerID TEXT,..."
12,table,FieldingPost,FieldingPost,14,"CREATE TABLE FieldingPost (\nplayerID TEXT,\ny..."
13,table,HallOfFame,HallOfFame,15,"CREATE TABLE HallOfFame (\nplayerID TEXT,\nyea..."
14,table,HomeGames,HomeGames,16,"CREATE TABLE HomeGames (\nyearkey INTEGER,\nle..."
15,table,Managers,Managers,17,"CREATE TABLE Managers (\nplayerID TEXT,\nyearI..."
16,table,ManagersHalf,ManagersHalf,18,"CREATE TABLE ManagersHalf (\nplayerID TEXT,\ny..."
17,table,Parks,Parks,19,"CREATE TABLE Parks (\nID INTEGER,\nparkalias T..."
18,table,People,People,21,"CREATE TABLE People (\nID INTEGER,\nplayerID T..."
19,table,Pitching,Pitching,23,"CREATE TABLE Pitching (\nplayerID TEXT,\nyearI..."
20,table,PitchingPost,PitchingPost,24,"CREATE TABLE PitchingPost (\nplayerID TEXT,\ny..."
21,table,Salaries,Salaries,25,"CREATE TABLE Salaries (\nyearID INTEGER,\nteam..."
22,table,Schools,Schools,26,"CREATE TABLE Schools (\nschoolID TEXT,\nname_f..."
23,table,SeriesPost,SeriesPost,27,"CREATE TABLE SeriesPost (\nyearID INTEGER,\nro..."
24,table,Teams,Teams,28,"CREATE TABLE Teams (\nyearID INTEGER,\nlgID TE..."
25,table,TeamsFranchises,TeamsFranchises,29,"CREATE TABLE TeamsFranchises (\nfranchID TEXT,..."
26,table,TeamsHalf,TeamsHalf,30,"CREATE TABLE TeamsHalf (\nyearID INTEGER,\nlgI..."

In [3]:
# check the first rows of collegePlaying  table used for partI question 2
pd.read_sql(f"SELECT * FROM 'CollegePlaying' LIMIT 5;", con)

    playerID schoolID  yearID
0  aardsda01   pennst    2001
1  aardsda01     rice    2002
2  aardsda01     rice    2003
3   abadan01  gamiddl    1992
4   abadan01  gamiddl    1993

There are 27 tables in this database.

## Question 9
Write an SQL query using pd.read_sql() that returns all the teams that played in the year 2015 with all of the corresponding columns from the Teams table

In [4]:
# SQL query to return all the teams palyed in 2015
query = """
    SELECT *
    FROM Teams
    WHERE yearID = 2015;
    """
pd.read_sql(query, con)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,2015,AL,BAL,BAL,E,3,162,78,81,81,...,134,0.987,Baltimore Orioles,Oriole Park at Camden Yards,2281202,103,104,BAL,BAL,BAL
1,2015,AL,BOS,BOS,E,5,162,81,78,84,...,148,0.984,Boston Red Sox,Fenway Park II,2880694,104,107,BOS,BOS,BOS
2,2015,AL,CHA,CHW,C,4,162,81,76,86,...,159,0.983,Chicago White Sox,U.S. Cellular Field,1755810,92,93,CHW,CHA,CHA
3,2015,AL,CLE,CLE,C,3,161,80,81,80,...,136,0.987,Cleveland Indians,Progressive Field,1388905,106,106,CLE,CLE,CLE
4,2015,AL,DET,DET,C,5,161,81,74,87,...,165,0.986,Detroit Tigers,Comerica Park,2726048,97,98,DET,DET,DET
5,2015,AL,HOU,HOU,W,2,162,81,86,76,...,131,0.986,Houston Astros,Minute Maid Park,2153585,97,99,HOU,HOU,HOU
6,2015,AL,KCA,KCR,C,1,162,81,95,67,...,138,0.985,Kansas City Royals,Kauffman Stadium,2708549,104,103,KCR,KCA,KCA
7,2015,AL,LAA,ANA,W,3,162,81,85,77,...,108,0.984,Los Angeles Angels of Anaheim,Angel Stadium of Anaheim,3012765,94,95,LAA,ANA,ANA
8,2015,AL,MIN,MIN,C,2,162,81,83,79,...,150,0.986,Minnesota Twins,Target Field,2220054,103,104,MIN,MIN,MIN
9,2015,AL,NYA,NYY,E,2,162,81,87,75,...,135,0.985,New York Yankees,Yankee Stadium III,3193795,99,101,NYY,NYA,NYA
10,2015,AL,OAK,OAK,W,5,162,81,68,94,...,154,0.979,Oakland Athletics,O.co Coliseum,1768175,97,98,OAK,OAK,OAK
11,2015,AL,SEA,SEA,W,4,162,81,76,86,...,155,0.985,Seattle Mariners,Safeco Field,2193581,92,94,SEA,SEA,SEA
12,2015,AL,TBA,TBD,E,4,162,84,80,82,...,118,0.984,Tampa Bay Rays,Tropicana Field,1287054,100,102,TBR,TBA,TBA
13,2015,AL,TEX,TEX,W,1,162,81,88,74,...,169,0.981,Texas Rangers,Globe Life Park in Arlington,2491875,102,105,TEX,TEX,TEX
14,2015,AL,TOR,TOR,E,1,162,81,93,69,...,145,0.985,Toronto Blue Jays,Rogers Centre,2794891,99,98,TOR,TOR,TOR
15,2015,NL,ARI,ARI,W,3,162,81,79,83,...,146,0.986,Arizona Diamondbacks,Chase Field,2080145,107,106,ARI,ARI,ARI
16,2015,NL,ATL,ATL,E,4,162,81,67,95,...,186,0.985,Atlanta Braves,Turner Field,2001392,97,97,ATL,ATL,ATL
17,2015,NL,CHN,CHC,C,3,162,81,97,65,...,120,0.982,Chicago Cubs,Wrigley Field,2919122,100,100,CHC,CHN,CHN
18,2015,NL,CIN,CIN,C,5,162,81,64,98,...,131,0.985,Cincinnati Reds,Great American Ball Park,2419506,101,101,CIN,CIN,CIN
19,2015,NL,COL,COL,W,5,162,81,68,94,...,171,0.985,Colorado Rockies,Coors Field,2506789,119,118,COL,COL,COL
20,2015,NL,LAN,LAD,W,1,162,81,92,70,...,133,0.988,Los Angeles Dodgers,Dodger Stadium,3764815,101,98,LAD,LAN,LAN
21,2015,NL,MIA,FLA,E,3,162,81,71,91,...,162,0.987,Miami Marlins,Marlins Park,1752235,98,97,MIA,FLO,MIA
22,2015,NL,MIL,MIL,C,4,162,81,68,94,...,164,0.981,Milwaukee Brewers,Miller Park,2542558,101,101,MIL,ML4,MIL
23,2015,NL,NYN,NYM,E,1,162,81,90,72,...,131,0.986,New York Mets,Citi Field,2569753,94,92,NYM,NYN,NYN
24,2015,NL,PHI,PHI,E,5,162,81,63,99,...,145,0.981,Philadelphia Phillies,Citizens Bank Park,1831080,98,98,PHI,PHI,PHI
25,2015,NL,PIT,PIT,C,2,162,81,98,64,...,177,0.981,Pittsburgh Pirates,PNC Park,2498596,99,97,PIT,PIT,PIT
26,2015,NL,SDN,SDP,W,4,162,81,74,88,...,138,0.985,San Diego Padres,Petco Park,2459742,98,97,SDP,SDN,SDN
27,2015,NL,SFN,SFG,W,2,162,81,84,78,...,145,0.987,San Francisco Giants,AT&T Park,3375882,99,97,SFG,SFN,SFN
28,2015,NL,SLN,STL,C,1,162,81,100,62,...,159,0.984,St. Louis Cardinals,Busch Stadium III,3520889,102,101,STL,SLN,SLN
29,2015,NL,WAS,WSN,E,2,162,81,83,79,...,125,0.985,Washington Nationals,Nationals Park,2619843,102,99,WSN,MON,WAS

There were 30 teams played in 2015.

## Question 10
Write an SQL query using `pd.read_sql()` that returns all of the players in the hall of fame, the year they were voted into the hall of fame, and their category - see the HallOfFame table, the inducted variable is important here.

We will use `LIMIT` to return the fisrt few rows of the HallOfFame table first.

In [15]:
# check the first rows of table
pd.read_sql(f"SELECT * FROM 'HallOfFame' LIMIT 5;", con)

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,aaronha01,1982,BBWAA,415,312,406,Y,Player,None
1,abbotji01,2005,BBWAA,516,387,13,N,Player,None
2,abreubo01,2020,BBWAA,397,298,22,N,Player,None
3,abreubo01,2021,BBWAA,401,301,35,N,Player,None
4,abreubo01,2022,BBWAA,394,296,34,N,Player,None

then we will return all of the players in the HallOfFame with the year they were voted into the hall of fame, and their categorys where inducted = 'Y'

In [5]:
# SQL query to return all of the players in the HallOfFame with some conditions
pd.read_sql( """
    SELECT playerID, yearid, category
    FROM HallOfFame
    WHERE inducted = 'Y';
""", con)

      playerID  yearid           category
0    aaronha01    1982             Player
1    alexape01    1938             Player
2    alomaro01    2011             Player
3    alstowa01    1983            Manager
4    andersp01    2000            Manager
..         ...     ...                ...
335  yastrca01    1989             Player
336  yawketo99    1980  Pioneer/Executive
337  youngcy01    1937             Player
338  youngro01    1972             Player
339  yountro01    1999             Player

[340 rows x 3 columns]

## Question 11
Write an SQL query using pd.read_sql() that return all unique managers of the Pittsburgh Pi-rates (teamID of PIT) and only that information from the Managers table.
We will use [SELECT DISTINCT](https://www.sqlservertutorial.net/sql-server-basics/sql-server-select-distinct/) clause to reach the goal.

In [16]:
# check the first rows of the Managers table
pd.read_sql(f"SELECT * FROM 'Managers' LIMIT 5;", con)

    playerID  yearID teamID lgID  inseason   G   W   L  rank plyrMgr
0  wrighha01    1871    BS1   NA         1  31  20  10     3       Y
1   woodji01    1871    CH1   NA         1  28  19   9     2       Y
2  paborch01    1871    CL1   NA         1  29  10  19     8       Y
3  lennobi01    1871    FW1   NA         1  14   5   9     8       Y
4  deaneha01    1871    FW1   NA         2   5   2   3     8       Y

In [6]:
# get unique managers of the PIT from the Managers table
query = """
    SELECT DISTINCT playerID
    FROM Managers
    WHERE teamID = 'PIT'
    ORDER by playerID;
"""
pd.read_sql(query, con)

     playerID
0   bezdehu99
1   bragabo01
2   buckeal99
3   burnsto01
4   burwebi01
5    bushdo01
6   callani01
7   clarkfr01
8   davissp01
9   donovpa01
10  dunlafr01
11    ensje01
12  friscfr01
13  gibsoge01
14  grammal01
15  haneyfr01
16  hanlone01
17  heckegu01
18  hermabi01
19  hurdlcl01
20  lamonge01
21  leylaji99
22  mackape01
23   mackco01
24  mcclell01
25  mcgunbi01
26  mckecbi01
27  meyerbi01
28  murtada01
29  phillho99
30  princto01
31  russejo02
32  sheltde99
33  shepala99
34  tannech01
35  tracyji01
36  traynpi01
37  virdobi01
38  wagneho01
39  walkeha01
40  watkibi01

The output shows that the `SELECT DISTINCT' returns only distint 41 managers without duplicates.

## Question 12
Use SQL code and the HallOfFame and Managers tables to return all of the playerIDs for the people that managed for a team that were inducted into the hall of fame. Also, programmatically report
the number of such people - this can be done in pandas after returning the data from the call to pd.read_sql()

We have already examined the HallOfFame and Managers tables in previous questions, so we will use *playerID* as the key to filter and join the results.

In [7]:
# Return all playerIDs for people who managed a team and were inducted
query="""
    SELECT m.playerID
    FROM Managers AS m
    INNER JOIN HallOfFame AS h
        ON m.playerID = h.playerID
    WHERE h.inducted = 'Y';
    """
df = pd.read_sql(query, con)
df.head()

    playerID
0  alstowa01
1  alstowa01
2  alstowa01
3  alstowa01
4  alstowa01

then we will count the number of rows as the number of such people since we already returned distinct playerIDs

In [8]:
num_people = df['playerID'].count()
print(f"The number of inducted people who managed a team is {num_people}")

The number of inducted people who managed a team is 996

## Question 13
Now use the same two tables (HallOfFame and Managers) and an SQL query to return every season
managed by each manager that made it to the hall of fame (so do this with an SQL join, not via
pd.merge()). You should return the playerID (manager ID), G, W, and L columns from the Managers
table.

In [32]:
query = """
    SELECT m.playerID, m.G, m.W, m.L, m.inseason
    FROM Managers AS m
    INNER JOIN HallOfFame AS h
        ON m.playerID = h.playerID
    WHERE h.inducted = 'Y'
    ORDER BY m.playerID, m.yearID, m.inseason;
"""
df_season = pd.read_sql(query, con)
df_season

      playerID    G   W   L  inseason
0    alstowa01  154  92  62         1
1    alstowa01  154  98  55         1
2    alstowa01  154  93  61         1
3    alstowa01  154  84  70         1
4    alstowa01  154  71  83         1
..         ...  ...  ..  ..       ...
991  wrighha01   46  22  23         5
992  wrighha01  138  68  69         1
993  wrighha01  155  87  66         1
994  wrighha01  133  72  57         1
995  youngcy01    6   3   3         1

[996 rows x 5 columns]

Second, determine the overall win/loss records (sum of wins and sum of losses) for each of these hall
of fame managers.

In [23]:
df_season.groupby('playerID')[['W', 'L']].sum()

              W     L
playerID
alstowa01  2040  1613
andersp01  2194  1834
ansonca01  1296   947
applilu01    10    30
baineha01     1     3
...         ...   ...
willidi02  1571  1451
willite01   273   364
wrighge01    59    25
wrighha01  1225   885
youngcy01     3     3

[97 rows x 2 columns]

Third, create a new variable that is the win/loss percentage (W/(W+L)). Lastly, sort the resulting data by the win/loss percentage variable (from largest to smallest). The last three parts can be done in pandas with the returned data or you can do it via SQL in your call to pd.read_sql().

In [27]:
#create a new variable W/L_percent
df_season['W/L_percent'] = df_season['W'] / (df_season['W'] + df_season['L'])
df_season

      playerID    G   W   L  W/L_percent
0    alstowa01  154  92  62     0.597403
1    alstowa01  154  98  55     0.640523
2    alstowa01  154  93  61     0.603896
3    alstowa01  154  84  70     0.545455
4    alstowa01  154  71  83     0.461039
..         ...  ...  ..  ..          ...
991  wrighha01   46  22  23     0.488889
992  wrighha01  138  68  69     0.496350
993  wrighha01  155  87  66     0.568627
994  wrighha01  133  72  57     0.558140
995  youngcy01    6   3   3     0.500000

[996 rows x 5 columns]

In [29]:
sorted_df=df_season.sort_values(by='W/L_percent', ascending=False)
print(sorted_df)

      playerID   G   W   L  W/L_percent
806  simmote01   1   1   0     1.000000
369  hermabi01   2   2   0     1.000000
403  hornsro01   4   4   0     1.000000
975  wrighha01  82  71   8     0.898734
972  wrighha01  48  39   8     0.829787
..         ...  ..  ..  ..          ...
914  wagneho01   5   1   4     0.200000
917  wallabo01  25   5  20     0.200000
177  connoro01  46   8  37     0.177778
943  whitede01   2   0   2     0.000000
906  trammal01   1   0   1     0.000000

[996 rows x 5 columns]